<ion-header>
  <ion-navbar color="theme">
    <ion-title class="title_head">
      Change Password
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="form_sec">
		<form #heroForm="ngForm" >
			<ion-list>
				<ion-item>
					<ion-label floating>Enter Your Old Password</ion-label>
					<ion-input type="password" [(ngModel)]="data.old" name="old" #old="ngModel" required></ion-input>
				</ion-item>
                            <div *ngIf="old.errors && (old.dirty || old.touched)" class="alert alert-danger red-alt">
                  <div [hidden]="!old.errors.required" class="alert alert-danger red-alt">
                    This field is required
                   </div>
                </div>
				<ion-item>
					<ion-label floating>Enter New Password</ion-label>
					<ion-input type="password" [(ngModel)]="data.new" name="new" #new="ngModel" required></ion-input>
				</ion-item>
                            <div *ngIf="new.errors && (new.dirty || new.touched)" class="alert alert-danger red-alt">
                  <div [hidden]="!new.errors.required" class="alert alert-danger red-alt">
                    This field is required
                   </div>
                </div>
				<ion-item>
					<ion-label floating>Confirm New Password</ion-label>
					<ion-input type="password" [(ngModel)]="data.cpnew" name="cpnew" #cpnew="ngModel" required></ion-input>
				</ion-item>
                             <div *ngIf="cpnew.errors && (cpnew.dirty || cpnew.touched)" class="alert alert-danger red-alt">
                    <div [hidden]="!cpnew.errors.required" class="alert alert-danger red-alt">
                      This field is required
                     </div>
                  </div>
			</ion-list>
			<button [disabled]="!heroForm.form.valid" (click)="change_pass(heroForm)" ion-button round block color="theme">Submit</button>
		</form>
	</div>
</ion-content>
