page-changepassword {
	.form_sec{
		form{
			.list.list-md{
				ion-item{
					padding:0px !important;
					.item-inner{
						border-bottom:1px solid #dedede;
						padding:0px !important;
					}
					&:last-child{
						.item-inner{
							border-bottom:0px;
						}
					}
				}
				ion-item.item-md.item-input.item-input-has-focus{
					.item-inner{
						border-color:#488AFF;
					}
				} 
				.item-md.item-input.input-has-focus{
					.item-inner{
						border-color:#488AFF;
					}
				} 

			}
		}
	}
         .red-alt{
  font-size: 12px;
  color:#c4013e;
  padding:3px 0px 0px 3px;
  margin-bottom: 19px;
}
}
