page-home {
	ion-content.content-md,
	.content.content-ios{
		background-color:#f1f1f1;
		.scroll-pro{
			background-color:#fff;
			border-top:1px solid #ddd;
			border-bottom:1px solid #ddd;
			margin-bottom:16px;
			.head-sec{
				margin-bottom: 16px;
				border-bottom: 1px solid #ddd;
				h4{
					margin: 0px;
					font-weight: normal;
					text-transform: uppercase;
					letter-spacing:1px;
					color:rgba(0, 0, 0, 0.65);
				}
			}
			ion-scroll{
				height:192px;
				white-space: nowrap;
				padding-top:0px;
				.scroll-content{
					padding-top:0px;
					.scroll-zoom-wrapper{
						.card.card-md,
						.card.card-ios{
							height:auto;
							width:120px;
							display:inline-block;
							box-shadow:none;
							margin-left:0px;
							margin-top:0px;
							margin-bottom:0px;
							.product-img{
								position:relative;
								button{
									border: none;
									border-radius: 0px;
									box-shadow: none;
									padding: 0px;
									background: transparent;
									margin: 0px;
									height: auto;
									width: 15px;
									position: absolute;
									right: 0;
									top: 0;
								}
							}
							.card-content.card-content-md,
							.card-content.card-content-ios{
								padding-left:0px;
								padding-right:0px;
								padding-bottom:0px;
								.title.title-md,
								.title.title-ios{
									.toolbar-title.toolbar-title-md,
									.toolbar-title.toolbar-title-ios{
										padding:0px;
										font-size:14px;
										letter-spacing:1px;
										text-align:left;
									}
								}
									p.price{
										font-size:12px;
										color:#3b5998;
										margin:0px;
									}
							}
						}
						.card:last-child{
							margin:0px;
						}
					}
				}
			}
		}
		.suggeestion-box{
			padding-top:0px;
			.head-sec{
				h4{
					margin: 0px;
					font-weight: normal;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: rgba(0, 0, 0, 0.65);
					margin:0px;
				}
			}
			ion-scroll{
				height: 136px;
				white-space:nowrap;
				padding: 0px;
				.scroll-content{
					padding-left: 0px;
					ion-card.card.card-md,
					.card.card-ios{
						margin: 0px;
						position: relative;
						padding-left: 120px;
						display:inline-block;
						margin-right:16px;
						.pr_avtar{
							height: 110px;
							width: 110px;
							position: absolute;
							left: 0;
							top: 0px;
						}
						ion-card-content{
							padding: 0px;
							.toolbar-title.toolbar-title-md,
							.toolbar-title.toolbar-title-ios{
								padding: 0px;
								font-size: 14px;
								letter-spacing: 1px;
								text-align:left;
							}
							.info{
								p.post{
									margin:0px;
									font-size:12px;
									letter-spacing:1px;
								}
								.rating{
									ion-icon{
										color:#3b5998;
									}
								}
								button{
									background-color:#3b5998;
								}
							}
						}
					}
					ion-card:last-child{
						margin:0px !important;
					}
				}
			}
		}
		.full-scr{
			padding-top:0px;
			ion-card{
				margin:0px;
				width:100%;
				margin-bottom:16px;
				ion-list{
					ion-item{
						ion-label{
							h4{
								font-weight: bold;
								font-size: 16px;
								letter-spacing: 1px;
							}
						}
					}
				}
				.pr-image{
					position:relative;
					button{
						box-shadow: none;
						background: transparent;
						position: absolute;
						right: 0;
						top: -4px;
						height: auto;
						margin: 0px;
						padding: 0px;
						width: 23px;
					}
				}
				ion-card-content{
					ion-title{
						.toolbar-title.toolbar-title-md,
						.toolbar-title.toolbar-title-ios{
							font-size:14px;
							font-weight:bold;
							letter-spacing:1px;
							padding:0px;
							button{
								margin:0px;
								float:right;
								background-color:#3b5998;
								span{
									ion-icon{
										margin-right:5px;
									}
								}
							}
						}
					}
				}
			}
			ion-card:last-child{
				margin:0px;
			}
			.list-ios > .item-block:last-child, 
			.list-ios > .item-wrapper:last-child .item-block,
			.list-ios > .item-block:first-child{
				border:none;
			}
		}
	}
}
