page-notification {
	ion-content{
		ion-list{
			ion-list-header{
				border:none !important;
			}
			ion-item {
				ion-note {
					font-size: 12px;
					align-self: flex-start;
					margin-top: 14px;
				}
			}
		}
	}
}
